# Minecraft Coder Pack Build data
/temp
/reobf
/logs
file.txt

# Eclipse projects
/eclipse/.metadata
/eclipse/Client/bin

# Built client data
/jars/saves/
/jars/stats/
/jars/screenshots
/jars/replay
/jars/ModLoader.txt
/jars/config/
/jars/mods/sppcommands/
/bin
/jars/chat/

# Windows temp files
**/Thumbs.db